* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d2d2cf;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#input {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  text-align: center;
}

.card-info {
  display: flex;
  justify-content: space-between;
  height: 85px;
  word-break: break-all;
}

.img {
  max-height: 400px;
}

.card-title {
  max-height: 20px;
}
.error {
  border: 1px solid red !important;
}
.green {
  background-color: rgb(20, 173, 0) !important;
}
.red {
  background-color: rgb(119, 0, 0) !important;
}

.yellow {
  background-color: rgb(252, 176, 63) !important;
}

.loading-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-loading {
  display: none;
}

.logo {
  width: 70px;
  height: 60px;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .img {
    min-height: 400px;
  }
  .card-info {
    padding-bottom: 20px;
    height: 100px;
  }
  .card-title {
    font-size: 16px;
  }
}
