* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d2d2cf;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#input {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  text-align: center;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.img {
  max-height: 400px;
}

.card-title {
  max-height: 20px;
}

@media screen and (max-width: 768px) {
  .img {
    min-height: 400px;
  }
  .card-info {
    padding-bottom: 20px;
  }
}
